body {
    background: linear-gradient(rgba(4, 41, 84, 0.8), rgba(4, 41, 84, 0.8)), 
                url('../img/service-5.jpg') center/cover no-repeat;
    color: var(--text-color);
}
.card-title{
    font-weight: bold;
    color: white;
}
.card{
    background-color: transparent;
    border: none;
}
.lead{
    color: white;
}
.lead, label, p, h1, h2, h3, h4, h5, h6, a, .card-title{
    color: white;
}
a {
    text-decoration: none;
    color: rgb(86, 202, 248);
}
